.message-container{
    padding: 20px;
    border-radius: 20px;
}
.sent-message {
    float: right;
    background-color: lightblue;
}
.received-message {
    float: left;
    background-color: lightgrey;
}

.content {
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-right: 5px;
}
